body h1 {
  font-size: 40px;
}
body h2 {
  font-size: 30px;
}
body h3 {
  font-size: 20px;
}
body p {
  font-size: 20px;
}
body ul {
  list-style-type: none;
}
body a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.boton {
  width: 200px;
  height: 50px;
  align-content: center;
  align-items: center;
  background-color: black;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}
.boton a :hover {
  background-color: greenyellow;
  color: #000000;
}

.boton2 {
  width: 200px;
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 3px;
  border-radius: 5px;
}

.carrito {
  width: 50px;
  height: 50px;
}

footer .footerGrid {
  grid-area: "footerGrid";
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 2%;
}
footer .footerGrid .links {
  display: flex;
  flex-direction: column;
  width: 25%;
}
footer .footerGrid .rrss {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  list-style-type: none;
  width: 50%;
}
footer .footerGrid .rrss .rrss-iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .footerGrid .rrss .rrss-iconos img {
  width: 5%;
  padding: 0.5%;
}
footer .footerGrid .form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footerGrid .form-footer .form {
  display: flex;
  flex-direction: row;
}
footer .footerGrid .form-footer .form input {
  margin: 2%;
}
footer .creador {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1%;
}
footer .creador p {
  font-size: 12px;
}

@media (max-width: 768px) {
  footer .footerGrid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
  }
  footer .footerGrid .links {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  footer .footerGrid .rrss {
    width: 100%;
    text-align: center;
    margin-left: 0%;
  }
  footer .footerGrid .rrss .rrss-iconos {
    width: 100%;
  }
  footer .footerGrid .form-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer .footerGrid .form-footer .form {
    flex-direction: column;
  }
}
.mainGridIndex .bannerIndexImg {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  padding-top: 0%;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
}
.mainGridIndex .bannerIndexImg img {
  width: 100%;
}
.mainGridIndex .bannerTexto {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  max-width: 100%;
  padding: 15px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}
.mainGridIndex .presentacion {
  display: flex;
  flex-direction: row;
  padding: 2%;
  text-align: center;
  justify-items: center;
  align-content: center;
  width: 100%;
  color: rgb(0, 0, 0);
}
.mainGridIndex .presentacion img {
  width: 80%;
  padding: 2%;
}
.mainGridIndex .presentacion .presentacion-texto {
  width: 100%;
  padding: 2%;
  align-self: justify;
  justify-items: center;
}
.mainGridIndex .presentacion .presentacion-texto h2 {
  text-align: center;
}
.mainGridIndex .presentacion2Index {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}
.mainGridIndex .banner2IndexImg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  padding: 15px;
}
.mainGridIndex .banner2IndexImg img {
  width: 100%;
}
.mainGridIndex .galeriaIndex {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}
.mainGridIndex .galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mainGridIndex .galeria img {
  width: 40%;
  border-radius: 15px;
}

.indexGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "headerGrid headerGrid headerGrid" "mainGridIndex mainGridIndex mainGridIndex" "footerGrid footerGrid footerGrid";
}

@media (max-width: 768px) {
  .indexGrid {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "headerGrid" "mainGridIndex" "footerGrid";
  }
  .presentacion {
    flex-wrap: wrap;
  }
  .presentacion .presentacion-texto {
    text-align: justify;
  }
  .galeriaIndex {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .galeriaIndex .galeria img {
    width: 90%;
  }
}
.contactoGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "headerGrid headerGrid headerGrid" "mainGridContacto mainGridContacto mainGridContacto" "footerGrid footerGrid footerGrid";
}

.mainGridContacto .portadaContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainGridContacto .portadaContacto .bannerContactoImg {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.mainGridContacto .portadaContacto .bannerContactoImg img {
  width: 100%;
}
.mainGridContacto .portadaContacto .bannerContactoTexto {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin: 4%;
}
.mainGridContacto .contactoFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  background-color: rgb(3, 3, 3);
  padding: 2%;
  margin: 4%;
  margin-top: 0%;
  border-radius: 15px;
}
.mainGridContacto .contactoFlex .img-contacto img {
  width: 100%;
}
.mainGridContacto .contactoFlex .formulario {
  width: 100%;
  margin-top: 40px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
}
.mainGridContacto .contactoFlex .formulario .formulario input {
  height: 25px;
}
.mainGridContacto .contactoFlex .formulario .formularioFlex {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 5px;
}
.mainGridContacto .contactoFlex .formulario .formularioFlex1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 5px;
}

@media (max-width: 768px) {
  .contactoGrid {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "headerGrid" "mainGridCOntacto" "footerGrid";
  }
  .portadaContacto .bannerContactoImg img {
    width: 100%;
  }
  .contactoFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
  }
  .contactoFlex .img-contacto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .contactoFlex .img-contacto img {
    max-width: 100%;
  }
  .contactoFlex .formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .contactoFlex .formulario .formularioFlex {
    display: flex;
    width: 100%;
  }
  .contactoFlex .formulario .formularioFlex input {
    margin-left: 10%;
    width: 80%;
    text-align: center;
  }
}
.nostrosGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: "headerGrid headerGrid headerGrid" "mainGridNosotros mainGridNosotros mainGridNosotros" "footerGrid footerGrid footerGrid";
}

.mainGridNosotros .portadaNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainGridNosotros .portadaNosotros .bannerNosotrosImg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
}
.mainGridNosotros .portadaNosotros .bannerNosotrosImg img {
  width: 100%;
}
.mainGridNosotros .portadaNosotros .bannerNosotrosTexto {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}
.mainGridNosotros .galeriaNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainGridNosotros .galeriaNosotros .galeriaNosotrosImg {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.mainGridNosotros .galeriaNosotros .galeriaNosotrosImg img {
  width: 30%;
  border-radius: 30px;
  padding: 20px;
}
.mainGridNosotros .galeriaNosotros .tituloNosotros {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 15px;
  margin: 20px;
}
.mainGridNosotros .contentNosotros {
  display: flex;
  flex-direction: row;
  justify-items: center;
  text-align: center;
}
.mainGridNosotros .contentNosotros .text-nosotros {
  display: flex;
  border-radius: 15px;
  border: solid 2px black;
  margin: 20px;
  padding: 10px;
  color: rgb(0, 0, 0);
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainGridNosotros .contentNosotros .text-nosotros img {
  width: 80%;
  margin-left: 10%;
}
@media (max-width: 768px) {
  .mainGridNosotros .nosotrosGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "headerGrid" "mainGridNosotros" "footerGrid";
  }
  .mainGridNosotros .galeria-nosotros img {
    display: flex;
    width: 100%;
  }
  .mainGridNosotros .contentNosotros {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .mainGridNosotros .contentNosotros .text-nosotros {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 10px;
  }
  .mainGridNosotros .contentNosotros .text-nosotros img {
    width: 70%;
    margin-left: 70px;
    border-radius: 15px;
    border: black solid 5px;
  }
}

.mainGridCursos {
  grid-area: "mainGridCursos";
}
.mainGridCursos .bannerCursosImg {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.mainGridCursos .bannerCursosImg img {
  width: 100%;
}
.mainGridCursos .bannerCursosTexto {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2%;
}
.mainGridCursos .galeriaCursos {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2%;
}
.mainGridCursos .galeria-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1%;
}
.mainGridCursos .galeria-producto .zoom:hover {
  transform: scale(1.23);
}
.mainGridCursos .galeria-producto img {
  margin: 7%;
  padding: 1%;
  width: 50%;
  border-radius: 15px;
}

.cursosGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "headerGrid headerGrid headerGrid" "mainGridCursos mainGridCursos mainGridCursos" "footerGrid footerGrid footerGrid";
}

@media (max-width: 768px) {
  .mainCursosGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "headerGrid" "mainGridCursos" "footerGrid";
  }
  .bannerCursosImg img {
    width: 100%;
  }
  .galeriaCursos {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .galeriaCursos .galeria-producto {
    flex-direction: column;
  }
  .galeriaCursos .galeria-producto h3 {
    margin-top: 3%;
  }
  .galeriaCursos .galeria-producto img {
    width: 80%;
    margin: 10%;
    padding: 2%;
  }
  .galeriaCursos .boton {
    margin: 20px;
  }
  .galeriaCursos footer {
    border-radius: 15px;
  }
}
.cartaGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "headerGrid headerGrid headerGrid" "mainCartaGrid mainCartaGrid mainCartaGrid" "footerGrid footerGrid footerGrid";
}

.mainCartaGrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10%;
  padding-top: 0%;
  margin: auto;
  justify-content: start;
}
.mainCartaGrid .carrusel-carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15%;
  padding: 1%;
}
.mainCartaGrid .carrusel-carta .zoom:hover {
  transform: scale(1.23);
}
.mainCartaGrid .carrusel-carta img {
  width: 80%;
  margin-bottom: 10%;
  margin: 7%;
  padding: 2%;
}
.mainCartaGrid .imagen-carrito {
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.mainCartaGrid .imagen-carrito img {
  padding: 1%;
  width: 100%;
}
.mainCartaGrid .texto-carrito {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding: 2%;
}

@media (max-width: 768px) {
  .cartaGrid {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "headerGrid" "mainCartaGrid" "footerGrid";
  }
  .mainCartaGrid {
    grid-area: "mainCartaGrid";
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .mainCartaGrid .carrusel-carta {
    flex-direction: row;
    justify-self: space-between;
    max-width: 100%;
  }
  .mainCartaGrid .carrusel-carta img {
    max-width: 30%;
    margin: 1.7%;
  }
  .mainCartaGrid .texto-carrito {
    max-width: 100%;
    text-align: justify;
    align-items: center;
  }
}
.headerGrid {
  grid-area: "headerGrid";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.headerGrid .navFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}
.headerGrid .navFlex a {
  padding-left: 20px;
  padding-right: 20px;
}
.headerGrid .navFlex :hover {
  color: rgb(255, 217, 0);
}
.headerGrid .logo {
  grid-area: "logo";
  display: flex;
}
.headerGrid .carrito {
  grid-area: "carrito";
  display: flex;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
