footer{
.footerGrid{
    grid-area: "footerGrid";
    background-color:black;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: black;
    color: rgb(255, 255, 255);
    padding:2%;
    .links{
        display:flex;
        flex-direction:column;
        width:19%;
        }
    .rrss{
        display:flex;
        flex-direction:column;
        text-align: center;

        list-style-type: none;
        max-width:40%;
        width:20%;
        .rrss-iconos{
            display:flex;
            flex-direction:row;
            margin:1%;
            justify-content: stretch;
            align-content:center;
            img{width:50%;}
            }
        }
    .form-footer{
        display:flex;

        flex-direction:column;
        align-items: center;
            .form{
                display:flex;
            flex-direction:row;
            input{
                margin:2%;
                }
            }
        }
    }
    .creador{
        background-color: black;
        color:white;
        text-align: center;
        align-content: center;
        width:100%;
        padding:1%;

        p{font-size: 13px;
        text-align:center;}
    }
}

@media (max-width:768px){
    footer{
        .footerGrid{
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            align-items:center;
            text-align:justify;
            .links{
                flex-direction:column;
                text-align:center;
                width:100%;
            }
            .rrss{
                width:50%;
                text-align:center;
                
                .rrss-iconos{
                    max-width:100%;
                    img{width:40%;}
                }
            }
            .form-footer{
                display:flex;
                flex-direction:column;
                flex-wrap:wrap;
                .form{
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                }
            }
            
        }
    }
    
}