
.mainGridIndex{
    .bannerIndexImg{
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-evenly;
        width:100%;
        overflow:hidden;
        padding:15px;
        img{
        width:80%;
            border-radius:15px;
            }
        }
    .bannerTexto{
        display: flex;
        flex-direction: column;
        margin:10px;
        text-align: center;
        justify-content:center;
        align-content: center;
        max-width: 100%;
        padding:15px;
        border: solid black 2px;
        color: rgb(0, 0, 0);
        border-radius:15px;
        }
    .presentacionTexto { 
        display: flex;
        flex-direction: column;
        margin:10px;
        text-align: center;
        justify-content:center;
        align-content: center;
        max-width: 100%;
        padding:10px;
        border: solid black 2px;
        color: rgb(0, 0, 0);
        border-radius:15px;
        img{
            width:50%;
            margin-left: 25%;
            
        }
        }
    .presentacion2Index{
            display:flex;
            flex-direction:column;
            margin-top: 30px;
            padding: 20px;
            margin: 20px;
            justify-content: center;
            text-align: center;
            background-color:#000000;
            color: rgb(255, 255, 255);  
            border-radius:15px;
        }
    .banner2IndexImg {
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-evenly;
        width:100%;
        overflow:hidden;
        padding:15px;
        img{
        width:80%;
            border-radius:15px;
            }
        }
        .galeriaIndex{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: 10px;
            } 
            .galeria{
                display:flex;
                flex-wrap: wrap;
                flex-direction:column;
                align-items: center;
                width:100%;
                img{
                    width: 40%;
                    border-radius:15px;
                }
            }
    }

.indexGrid{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "headerGrid headerGrid headerGrid"
    "mainGridIndex mainGridIndex mainGridIndex"
    "footerGrid footerGrid footerGrid";
}

@media (max-width:768px){
        .indexGrid{
            grid-template-columns:10% 80% 10%;
            grid-template-rows: auto auto auto ;
            grid-template-areas:
            "headerGrid"
            "mainGridIndex"
            "footerGrid";
        }
        .bannerIndexImg{
            img{
                margin-top:20%;
            }
        }
        .galeriaIndex{
                flex-wrap:wrap;}
        } 
            
            