
.mainGridIndex{
    .bannerIndexImg{
        display: flex;
        flex-wrap: wrap;
        padding:5%;
        padding-top:0%;

        align-items:center;
        justify-content: space-evenly;
        width:100%;
        overflow:hidden;
        
        img{
        width:100%;
            }
        }
    .bannerTexto{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content:center;
        align-content: center;
        max-width: 100%;
        padding:15px;
        color: rgb(0, 0, 0);
        border-radius:15px;
        }
    .presentacion { 
        display: flex;
        flex-direction: row;
        padding:2%;
        text-align: center;
        justify-items:center;
        align-content: center;
        width: 100%;
        color: rgb(0, 0, 0);
        img{
            width:80%;
            padding:2%;
            }
        
        .presentacion-texto{
            width:100%;
            padding:2%;
            align-self: justify;   
            justify-items:center;
            h2{
                text-align:center;
                }
                
            }
        }
    
    .presentacion2Index{
            display:flex;
            flex-direction:column;
            margin-top: 30px;
            padding: 20px;
            margin: 20px;
            justify-content: center;
            text-align: center;
            
            color: rgb(0, 0, 0);  
            border-radius:15px;
        }
    .banner2IndexImg {
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-evenly;
        width:100%;
        overflow:hidden;
        padding:15px;
        img{
            width:100%;
            }
        }
        .galeriaIndex{
            display: flex;
            flex-direction: row;
            
            width: 100%;
            margin-bottom: 10px;
            } 
            .galeria{
                display:flex;
                
                flex-direction:column;
                align-items: center;
                width:100%;
                img{
                    width: 40%;
                    border-radius:15px;
                }
            }
    }

.indexGrid{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas:
    "headerGrid headerGrid headerGrid"
    "mainGridIndex mainGridIndex mainGridIndex"
    "footerGrid footerGrid footerGrid";
}

@media (max-width:768px){
        .indexGrid{
            grid-template-columns:100%;
            grid-template-rows: 100% ;
            grid-template-areas:
            "headerGrid"
            "mainGridIndex"
            "footerGrid";
        }
        .presentacion{
            flex-wrap:wrap; 
                .presentacion-texto{
                    
                    text-align: justify;
                    
                }
            }
        .galeriaIndex{
            flex-direction:column;
            flex-wrap: wrap;
            .galeria{
                img{width:90%;}
                }
            }
}
        
    
            