@import"_indexGrid.scss";
body{
    h1{font-size:40px;}
    h2{font-size:30px;}
    h3{font-size:20px;}
    p{font-size: 20px;}
    ul{list-style-type: none;}
    a{text-decoration:none;color:black;font-size:20px;}
}

/*===========================*/
/*HEADER*/
/*============================*/
.headerGrid{
    grid-area:"headerGrid";
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    .navFlex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        a{padding-left:20px; padding-right: 20px;
        }
        & :hover{
            color: rgb(255, 217, 0);
        }
        }
    .logo{
        grid-area: "logo";
        display:flex;
        }
    .carrito {
        grid-area: "carrito";
        display:flex;
        align-content: center;
        justify-items: center ; 
        justify-content: center;  
        }
}
/*===========================*/
/*MAINGRIDINDEX*/
/*============================*/

/*===========================*/
/*MAINGRIDCURSOS*/
/*============================*/
.mainGridCursos{
    /*section1*/
    .portadaCursos{
        display:flex;
        flex-direction:column;
        justify-content:center;
        .bannerCursosImg{
            display:flex;
            align-content: center;
            justify-content:center;
            img {border-radius: 15px;}
            }  
        .bannerCursosTexto{
            border-radius: 15px;
            display:flex;
            flex-direction: column;
            text-align: center;
            margin: 20px;
        }
    }
    .galeriaCursos{
        display: flex;
        flex-direction: row;
        margin: 20px;
        .galeria-producto{
            display:flex;
            flex-direction:column;
            align-items: center;
        }
        img{
            max-width: 50%;
            border-radius:15px;
        }
    }
}
/*==========================*/
/*MAINGRIDNOSOTROS*/
/*==========================*/
.mainGridNosotros{
    .portadaNosotros{
        display:flex;
        flex-direction:column;
        justify-content:center;
        .bannerNosotrosImg{
            display:flex;
            align-content: center;
            justify-content:center;
            img {border-radius: 15px;}
            }
        .bannerNosotrosTexto{
            border-radius: 15px;
            display:flex;
            flex-direction: column;
            text-align: center;
            margin: 20px;

        }
    }
    .galeriaNosotros{
        display: flex;
        flex-direction:column;
        justify-content: center;
        .galeriaNosotrosImg{
            display:flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            margin-top: 20px;
            img {
                width:30%;
                border-radius:30px;
                padding:20px;
                }
            }
            .tituloNosotros{
                display:flex;
                flex-direction:column;
                text-align:center;
                color:white;
                background-color: black;
                border-radius:15px;
                margin: 20px;
            }
        }
    .contentNosotros{
        display:flex;
        flex-direction:row;
        justify-content: center;
        text-align: center;
        max-width:100%;
        .text-nosotros{
            background-color: rgb(0, 0, 0);
            display:flex;
            justify-content: space-evenly;
            color:white;
            flex-direction:column;
            max-width:33%;
            img{ height:300px; width: 200px;}
            margin:20px;
            border-radius: 15px;
            }
        }
}
/*==========================*/
/* MAINGRIDCONTACTO.HTML*/
/*==========================*/
.mainGridContacto{
    .portadaContacto{
        display:flex;
        flex-direction:column;
        justify-content:center;
        .bannerContactoImg{
            display:flex;
            align-content: center;
            justify-content:center;
            img {border-radius: 15px;}
            } 
        .bannerContactoTexto{
            border-radius: 15px;
            display:flex;
            flex-direction: column;
            text-align: center;
            margin: 20px;
            }
    }
    .contactoFlex{
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;
        align-items: start;
        background-color: rgb(3, 3, 3);
        padding:20px;
        margin:20px;
        border-radius:15px;
        .img-contacto img{
            width:700px;
            height:480px;
        }
        .formulario{
            width:500px;
            height:400px;
            margin-top: 40px;
            background-color: rgb(0, 0, 0);
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-content: center;
            align-items: center;
            color: white;
                .formulario input{
                    height: 25px;
                }
                .formularioFlex{
                    display:flex;
                    flex-direction: column;
                    width:400px;
                    margin:5px;
                }
                .formularioFlex1{
                    display:flex;
                    flex-direction:row;
                    align-items: center;
                    justify-content: space-evenly;
                    margin:10px;
                    padding:5px;
                    }
            }  
    }
}

/*---------------------------------------------*/

/*==========================*/
/* 4 SECCION DE CONTACTO.HTML*/
/*==========================*/





/*==========================*/
/* 5 SECCION DE LA PÁGINA CARTA.HTML*/
/*==========================*/

.descripcion-carrito{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;

}
.texto-carrito{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width:600px;
}
.carrusel-carta{
    display:flex;
    flex-direction:column;
}
.carrusel-carta img {
    width:100px;
    margin:20px;
}

.carta-carrito{
    display:inline-block;
    text-align:center;
    background-color: bisque;
    border-radius:15px;
    max-width: 100%;
    margin-left:  50px;
    
}
.carta-carrito div{
    width: 700px;

}

.descripcion-producto{
    font-size: 18px;
}
.carrusel-carrito{
    max-width: 200px;
}
.carrusel-carrito img{
    width: 150px;
}

.carta-carrito-img-principal img{
    width:600px;
}

/*==========================*/
/*SECCION DEL FOOTER*/   
/*==========================*/
.footerFlexColumn{
    display: flex;
    flex-direction:column;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    
    .footerFlexRow{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        padding:15px;
    }
    .rrss{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content:center;
        list-style-type: none;
        img{
            width:30px;
        }
        li {
            padding:10px;
        }
        h3{
            margin-left: 30px;
        }
    }
    .rrss-iconos{
        display: flex;
    }
    .links{
        list-style-type: none;
        font-size:18px;
    }
}

/*------------------------*/

/*==========================*/
/*SECCION DE BOTONES E ICONOS DE LA PÁGINA*/
/*==========================*/

.boton{
    width:200px;
    height: 50px;
    align-content:center;
    align-items: center;
    background-color: black;
    border: none;
    font-size: 20px;
    color:white;
    border-radius: 5px;
    a :hover{
        background-color: greenyellow;
        color:#000000;
    }
}

.boton2{
    width:200px;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    color:rgb(0, 0, 0);
    padding: 3px;
    border-radius: 5px;
}

.carrito{
    width: 50px;
    height: 50px;
}
.form{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin:10px;
}
.rrss-logos {
    margin:10px;
    list-style: none;
    font-size:18px
}
.input {
    padding:4px;
    height:21px;
    padding:4px;
    align-items: center;
    border:none;
    border-radius:5px;
    width:200px;
    margin:10px;
    
}
/*---------------------------------------------------------*/


/*==========================*/
/*PÁGINA INDEX CON GRID*/
/*==========================*/


/*==========================*/
/*PÁGINA CURSOS CON GRID*/
/*==========================*/
.cursosGrid{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
    "headerGrid headerGrid headerGrid"
    "mainGridCursos mainGridCursos mainGridCursos"
    "footerGrid footerGrid footerGrid";
}

/*==========================*/
/*PÁGINA NOSOTROS CON GRID*/
/*==========================*/

.nostrosGrid{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
    "headerGrid headerGrid headerGrid"
    "mainGridNosotros mainGridNosotros mainGridNosotros"
    "footerGrid footerGrid footerGrid";
}

/*==========================*/
/*PÁGINA CONTACTO CON GRID*/
/*==========================*/

.contactoGrid{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:auto auto auto;
    grid-template-areas:
    "headerGrid headerGrid headerGrid"
    "mainGrid mainGrid mainGrid"
    "footerGrid footerGrid footerGrid";
}

/*==========================*/
/*PÁGINA CARTA CON GRID*/
/*==========================*/

.cartaGrid{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:auto auto auto;
    grid-template-areas:
    "headerGrid headerGrid headerGrid"
    "mainGrid mainGrid mainGrid"
    "footerGrid footerGrid footerGrid";
}

/*==========================*/
/*------AREAS CON GRID------*/
/*==========================*/




.mainGrid{grid-area:"mainGrid";
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.footerGrid{grid-area:"footerGrid";
    background-color:black;
    max-width:100%;
    margin-top: 30px;
    border-radius:15px;
    margin:20px;
    
}

/*==========================*/
/*------MEDIAQUERY PARA PÁGINA INDEX.HTML------*/
/*==========================*/


/*==========================*/
/*------MEDIAQUERY PARA CURSOS.HTML------*/
/*==========================*/
@media (max-width: 768px){
    .cursosGrid{
        display:grid;
        grid-template-columns: 100% ;
        grid-template-rows: auto ;
        grid-template-areas:
        "headerGrid"
        "mainGrid"
        "footerGrid";
    }
    }
    .galeria-cursos{
        display:flex;
        flex-direction:column;
    }
    .boton{
        margin:20px;
    }
    footer{
        border-radius:15px;
    }


/*==========================*/
/*------MEDIAQUERY PARA NOSOTROS.HTML------*/
/*==========================*/

@media (max-width:768px){
    .nosotrosGrid{
        display:grid;
        grid-template-columns: 100% ;
        grid-template-rows: auto ;
        grid-template-areas:
        "headerGrid"
        "mainGrid"
        "footerGrid";
    }
    .navFlex {
        display:flex;
        margin:auto;
        flex-direction: column;
        flex-wrap:wrap;
        align-content: stretch;

    }


    }
    .galeria-nosotros img{
        display:flex;
        flex-direction:column;
        max-width:50%;
        
    }
    .content-nosotros{
        display:flex;
        flex-direction:column;
        max-width:80%;
    }
    .text-nosotros{
        display:flex;
        flex-direction:column;
        max-width:100%;
    }

