@import"_indexGrid.scss";
@import"_contactoGrid.scss";
@import"_nosotrosGrid.scss";
@import"_cursosGrid.scss";
@import"_cartaGrid.scss";
@import"_headerGrid.scss";
@import"_footerGrid.scss";

body{
    h1{font-size:40px;}
    h2{font-size:30px;}
    h3{font-size:20px;}
    p{font-size: 20px;}
    ul{list-style-type: none;}
    a{text-decoration:none;color:black;font-size:20px;}
}

/*==========================*/
/* 5 SECCION DE LA PÁGINA CARTA.HTML*/
/*==========================*/

.descripcion-carrito{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;

}
.texto-carrito{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width:600px;
}
.carrusel-carta{
    display:flex;
    flex-direction:column;
}
.carrusel-carta img {
    width:100px;
    margin:20px;
}

.carta-carrito{
    display:inline-block;
    text-align:center;
    background-color: bisque;
    border-radius:15px;
    max-width: 100%;
    margin-left:  50px;
    
}
.carta-carrito div{
    width: 700px;

}

.descripcion-producto{
    font-size: 18px;
}
.carrusel-carrito{
    max-width: 200px;
}
.carrusel-carrito img{
    width: 150px;
}

.carta-carrito-img-principal img{
    width:600px;
}

/*==========================*/
/*SECCION DEL FOOTER*/   
/*==========================*/

/*------------------------*/

/*==========================*/
/*SECCION DE BOTONES E ICONOS DE LA PÁGINA*/
/*==========================*/

.boton{
    width:200px;
    height: 50px;
    align-content:center;
    align-items: center;
    background-color: black;
    border: none;
    font-size: 20px;
    color:white;
    border-radius: 5px;
    a :hover{
        background-color: greenyellow;
        color:#000000;
    }
}

.boton2{
    width:200px;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    color:rgb(0, 0, 0);
    padding: 3px;
    border-radius: 5px;
}

.carrito{
    width: 50px;
    height: 50px;
}
.form{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin:10px;
}
.rrss-logos {
    margin:10px;
    list-style: none;
    font-size:18px
}
.input {
    padding:4px;
    height:21px;
    padding:4px;
    align-items: center;
    border:none;
    border-radius:5px;
    width:200px;
    margin:10px;
    
}
/*---------------------------------------------------------*/
